*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.Mobile-add-new-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px 10px;
    background: white;
    z-index: 3;
    width: 100%;
    
    
}
body{
    background: #ebf2ff !important;
}

@media (max-width: 992px){
    .btn.btn-dark{
        /* align-items: center; */
        justify-content: center;
    }
}
@media (min-width: 992px){
    .Mobile-add-new-btn{
        display: none;
    }
}